@import "../colors.css";

* {
  /* https://docs.gtk.org/gtk3/css-overview.html#colors */
  color: black;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 10pt;
  font-weight: bold;
  border-radius: 8px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

@keyframes blink_red {
  to {
    background-color: @dark-red;
    color: @light-red;
  }
}

.warning,
.critical,
.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 5;
  animation-direction: alternate;
}

window#waybar {
  background-color: alpha(@black, 0.9);
  border: 2px solid alpha(@blue, 0.3);
}

window > box {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 3px;
  padding-left: 8px;
  border: 2px none @blue;
}

#custom-launcher {
  font-size: 20px;
  padding-left: 8px;
  padding-right: 4px;
  color: @blue;
  background-color: alpha(black, 0.5);
  margin-left: 5px;
  margin-right: 5px;
}

#idle_inhibitor {
  color: @gutter-grey;
  padding-left: 8px;
  padding-right: 16px;
  background-color: alpha(black, 0.5);
  margin-left: 5px;
  margin-right: 5px;
}


#custom-playerctl {
  color: @white;
  padding-left: 20px;
  padding-right: 20px;
  background-color: alpha(black, 0.5);
  margin-left: 5px;
  margin-right: 5px;
}

#workspaces {
  padding-left: 10px;
  padding-right: 4px;
}

#workspaces button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: alpha(@gutter-grey, 0.5);
  margin-left: 5px;
  margin-right: 5px;
}

#workspaces button.active {
  color: @black;
  background-color: alpha(@blue, 0.5);
}

#workspaces button.urgent {
  color: @light-red;
}

#workspaces button:hover {
  background-color: @comment-grey;
  color: @black;
}

tooltip {
  background: black;
}

tooltip label {
  color: @white;
}

#mode,
#clock,
#memory,
#temperature,
#cpu,
#mpd,
#custom-wall,
#temperature,
#backlight,
#pulseaudio,
#network,
#battery
 {
  padding-left: 10px;
  padding-right: 10px;
}

#custom-powermenu {
  padding-left: 10px;
  padding-right: 14px;
  margin-right: 10px;
  background-color: alpha(black, 0.5);
  color: @light-red;
}

#memory {
  color: @light-yellow;
}

#cpu {
  color: @cyan;
}

#clock {
  color: @blue;
  background-color: alpha(black, 0.5);
  margin-left: 5px;
  margin-right: 5px;
}

#battery {
  min-width: 55px;
  color: @white;
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: @green;
}

#battery.critical:not(.charging) {
  color: @light-red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#temperature {
  color: @light-yellow;
}

#backlight {
  color: @dark-yellow;
}

#pulseaudio {
  color: @white;
  background-color: alpha(black, 0.5);
  margin-left: 5px;
  margin-right: 5px;
}

#network {
  color: @green;
  background-color: alpha(black, 0.5);
  margin-left: 5px;
  margin-right: 5px;
}

#network.disconnected {
  color: @dark-red;
}

#tray {
  padding-right: 8px;
  padding-left: 10px;
  background-color: alpha(black, 0.5);
  margin-left: 5px;
  margin-right: 5px;
}
